body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: #EEF6FF;
    transition: margin-left .5s;
}

.html {
    font-family: 'Nunito', sans-serif;
}

/* Navbar */
.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    background: #DEECFC;
    font-size: 1.6vh;
    color: black;
    font-weight: 600;
}

.navbar-center {
    text-align: center;
    flex-grow: 1;
}

.navbar-center .nav-item {
    display: inline-block;
    margin: 0 10px;
}

.navbar-brand img,
.navbar-right img {
    height: 160px;
}

.navbar-right img {
    margin-left: auto;
}

.navbar-center hr {
    width: 80%;
    margin: 5px auto;
}

.title {
    font-size: 2.5vw;
    color: #000;

}

.nav-link {
    color: #000 !important;
    font-weight: 600 !important;
    font-size:1.4vw;
    position: relative;
    display: inline-block;
}

/* Main Content */
.main_content_container {
    margin: 20px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2.5%;
    background-color: #DEECFC;
    padding: 20px;
    text-align: left;
    border-radius: 30px;
}

.main_content {
    display: flex;
    flex-wrap: wrap;
}

.main_content_text_container {
    flex: 1;
    max-width: 55%; /* Adjust text container width */
}

.main_content_title {
    margin: 20px;
    font-size: 1.7vw;
    color:black;
}

.main_content_text {
    margin: 20px;
    font-size: 1.2vw;
    color:black;

}

.main_content_carousel {
    padding:20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45%; /* Adjust carousel width */
    height: auto;

}

.carousel-inner {
    height: 100%;
    width: 100%;
}

.carousel-item {
    height: auto;
}

.carousel-item img {
    border-radius: 20px;
    width: 100%;
    height: auto; /* Changed from 100% to auto */
    object-fit: cover;
}

.carousel-indicators {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%; /* Ensure indicators are within image bounds */
}

.carousel-indicators li {
    background-color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
}




/* Ofsted */
.ofsted-container {
    background-color: #EEF6FF;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

.ofsted-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align items */
    flex-wrap: wrap;
    max-width: 87%;
    margin: 0 auto;
}

.ofsted-text {
    flex: 1;
    padding: 0 10px; /* Reduce padding */
    text-align: center;
    padding-left: 5%; /* Adjust left padding */
}

.ofsted-text h2 {
    font-size: 2vw;
    color: #000;
}

.ofsted-text p {
    font-size: 1.2vw;
    color: #000;
}

.ofsted-text a {
    font-size: 1.2vw;
    color: #007bff;
    text-decoration: none;
}

.ofsted-text a:hover {
    text-decoration: underline;
}

.ofsted-logo{
    padding-right:5%;
    height: 10vw; /* Adjust height as needed */
    margin: 0 5px; /* Reduce margin */
}

.balloons {
    height: 16vw; /* Adjust height as needed */
    margin: 0 5px; /* Reduce margin */
}


/* Footer */
.footer-container {
    background-color: #EEF6FF;
    text-align: center;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Center align items */
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #DEECFC;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}

.footer-details {
    flex: 1;
    text-align: left;
}

.footer-details h2 {
    font-size: 1.5vw;
    color: #000;
}

.footer-details p {
    font-size: 1.2vw;
    color: #000;
}

.footer-details a {
    color: #007bff;
    text-decoration: none;
}

.footer-details a:hover {
    text-decoration: underline;
}

.footer-logos {
    text-align: right;
    color: #000;
}

.footer-logo {
    height: 8vw; /* Adjust height as needed */
    margin: 0 10px;
}

.footer-credits {
    background-color: #EEF6FF;
    padding: 10px;
    text-align: left;
    font-size: 0.9vw;
    color: #888;
}


/* Mobile View */
@media (max-width: 991px) {



    .navbar-brand img,
    .navbar-right img {
        display: none;
    }

    .desktop-title {
        display: none;
    }

    .navbar-center .title {
        display: none;
        /* Hide the original title in the dropdown */
    }

    .mobile-title {
        display: block;
        text-align: center;
        width: 100%;
        position: relative;
        margin-top: 15px;
        padding-bottom: 20px;
        /* Added padding to the bottom */
    }

    .mobile-title .title {
        text-align: center;
    }

    .mobile-title hr {
        width: 80%;
        margin: 5px auto;
    }

    .navbar-toggler {
        position: absolute;
        vertical-align: center;
        right: 15px;
        top: 15px;
    }

    .navbar-collapse {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-toggler {
        color: #000;
        /* Ensure the icon color is black */
        border-color: #000;
        /* Change the border color */
    }

    .carousel {
        display:none;
    }

    .main_content_text_container {
        max-width: 100%;
    }

    .main_content_title {
        font-size:3vw;
    }


    .main_content_text {
        font-size:2.3vw;
    }

    .ofsted-logo{
        display:none;   
      
    }

    .ofsted-text p {
        font-size: 2.2vw;
        color: #000;
    }

    .ofsted-text a {
        font-size: 2.2vw;
        color: #007bff;
    }

}

@media (min-width: 992px) {
    .mobile-title {
        display: none;
    }

    .navbar-collapse {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .navbar-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-center .title {
        display: block;
        /* Ensure the original title is displayed on larger screens */
        text-align: center;
    }

    .navbar-center hr {
        width: 50%;
        /* Adjusted width for desktop view */
        margin: 5px auto;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin: 0 15px;
    }
}