body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    color: #2c2c2c;
    background: #EEF6FF;
    transition: margin-left .5s;
    scroll-behavior: smooth !important;
}

.html {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth !important;
}

html, body { 
    scroll-behavior: smooth !important;
}




/* Main Content */
.main_content_container {
    overflow: hidden !important;
    margin: 20px;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 2.5%;
    background-color: #DEECFC;
    padding: 20px;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main_content {
    display: flex;
    flex-wrap: wrap;
}

.main_content_text_container {
    flex: 1;
    max-width: 55%;
    /* Adjust text container width */
}

.main_content_title {
    margin-left: 20px;
    font-size: 1.7vw;
    color: #555;
}

.main_content_text {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2vw;
    color: #555;

}

.main_content_carousel {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center carousel content horizontally */
    max-width: 45%; /* Adjust carousel width */
    height: 100%; /* Ensure it takes the full height of its container */
}

.carousel-inner {
    height: 100%;
    width: 100%;
    align-items: center; /* Center carousel content vertically */
    justify-content: center;
}

.carousel-item {
    height: auto;
    align-items: center; /* Center carousel content vertically */
    justify-content: center;
}

.carousel-item img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    /* Changed from 100% to auto */
    object-fit: cover;
}

.carousel-indicators {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    /* Ensure indicators are within image bounds */
}

.carousel-indicators li {
    background-color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
}

/* Hide mobile view by default */
.aims-mobile-view {
    display: none;
}

.aims-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-top: 0vh;
    background-color: #EEF6FF;
    border-radius: 30px;
}

.aims_subtitle {
    font-size: 2.5vh;
    color: #555;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom:10px;
}

.aims-column {
    flex: 1;
    margin: 10px;

}

.aims-column ul {
    list-style-type: disc; /* Add bullet points */
    padding-left: 2vw; /* Add some padding to the left to offset the bullet points */
    
}

.aims-column ul li {
    
    padding: 3px 0;
    font-size: 1vw;
    color: #555;
}


/* Ofsted */
.ofsted-container {
    padding-top:50px;
    background-color: #EEF6FF;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

.ofsted-content {
    padding-top:3vh;
    padding-bottom:3vh;

    display: flex;
    align-items: center;
    justify-content: center;
    /* Center align items */
    flex-wrap: wrap;
    max-width: 77%;
    margin: 0 auto;
}

.ofsted-text {
    flex: 1;
    padding: 0 10px;
    /* Reduce padding */
    text-align: center;
    padding-left: 5%;
    /* Adjust left padding */
}

.ofsted-text h2 {
    font-size: 1.2vw;
    color: #000;
}

.ofsted-text p {
    font-size: 1.2vw;
    color: #000;
}

.ofsted-text a {
    font-size: 1.2vw;
    color: #007bff;
    text-decoration: none;
}

.ofsted-text a:hover {
    text-decoration: underline;
}

.ofsted-logo {
    padding-right: 5%;
    height: 8vw;
    /* Adjust height as needed */
    margin: 0 5px;
    /* Reduce margin */
}

.balloons {
    height: 16vw;
    /* Adjust height as needed */
    margin: 0 5px;
    /* Reduce margin */
}



/* Parallax Section */
.parallax {
    background-image: url('https://i.imgur.com/XDqo52X.jpg');
    /* Replace with your image URL */
    height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.event-content-container {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 15px;
    background: #DEECFC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.event-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.event-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 600px;
    /* Adjust height as needed */
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.event {
    background: #fff;
    font-size: 1vw;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.event h3 {
    font-size: 1.5em;
    color: #333;
}

.event p {
    font-size: 1em;
    color: #555;
}

.event-title {
    font-size: 2vh;
    color: #555;
}


/* .map-iframe {
    min-height: 50vh;
    width: 60%;
    height: 20vw;
    border: 0;
    margin: 0 auto;
    display: block;
    margin-bottom:4vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #DCEAFA;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto; /* Center the div */
    box-sizing: border-box; /* Ensure padding is included in the width */
    margin-bottom:4vh;
}

.map-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.map-iframe {
    width: 60%;
    height: 50vh;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-text {
    
    width: 35%;
    margin-left: 20px;
    text-align: center;
    font-size: 1.2vw;
    color: #555;
}






/* Footer */
.footer-container {
    background-color: #EEF6FF;
    text-align: center;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Center align items */
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #DEECFC;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-details {
    flex: 1;
    text-align: left;
}

.footer-details h2 {
    font-size: 1.5vw;
    color: #000;
}

.footer-details p {
    font-size: 1.2vw;
    color: #000;
}

.footer-details a {
    color: #007bff;
    text-decoration: none;
}

.footer-details a:hover {
    text-decoration: underline;
}

.footer-logos {
    text-align: right;
    color: #000;
}

.footer-logo {
    height: 4vw;
    /* Adjust height as needed */
    margin: 0 10px;
}

.footer-credits {
    background-color: #EEF6FF;
    padding: 10px;
    text-align: left;
    font-size: 0.9vw;
    color: #888;
}


