.title-image {
    height:50vmin;
    min-height: 300px;
    width: 100%;
    background-image: url('https://i.imgur.com/dOjHtFW.jpg');
    background-size: cover; /* Ensures the image covers the entire div without stretching */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    position: relative; /* Set relative position to contain the overlay */
    display: flex;
    align-items: center; /* Vertically centers the child element */
    justify-content: center; /* Horizontally centers the child element */
    margin-bottom:3vh;

}

.title-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* Light white overlay with opacity */
    z-index: 1; /* Places the overlay behind the content */
}

.title-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Adjust this value to change the height of the shadow */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent); /* Creates the shadow effect */
    z-index: 2; /* Places the shadow above the overlay */
}

.page-title {
    font-family: "Bubblegum Sans", sans-serif;
    text-align: center;
    color:#003366 ;
    font-size:12vmin;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns based on your preference */
    gap: 10px; /* Spacing between images */
    padding: 20px; /* Padding around the grid */
}

.photo {
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1; /* Default to square unless specified */
}

.photo.large {
    grid-column: span 2;
    grid-row: span 2;
}

.photo.wide {
    grid-column: span 2;
    aspect-ratio: 2 / 1; /* Twice as wide as it is tall */
}

.photo.tall {
    grid-row: span 2;
    aspect-ratio: 1 / 2; /* Twice as tall as it is wide */
}
